button {
  height: 2rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: black;
  color: white;
}

.primary {
  background-color: #FCA311;
}

.primary:hover {
  background-color: #FCA311;
  color: black;
  transition: none;
}

.color-blue{
  background-color: #14213d;
  color:white;
}

.color-blue:hover{
  background-color: #14213d;
  transition: none;
}

.secondary{
  color: black;
}