/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: solid 1px black;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 14rem;
} */

/* .settings {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.field {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 0px 3px rgba(0, 119, 255, 0.2);
} */

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

button {
  margin-top: 1rem;
}

.redText {
  font-size: 0.8rem;
  color: red;
}

