.containerNotif-container{
    border: 2px solid black;
    width: 24rem;
    
    /* border: 5px solid yellowgreen; */

    background-color: rgb(230, 230, 230);   
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    padding: 0.4rem;
    /* border: 0; */
}

.containerNotif-container > div:last-child{
    border: none;
}