.icon {
    transition: color 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: fit-content;
  }
  
.clicked {
  color: rgb(119, 57, 57);
}

.icon:hover {
    transition: color 0.2s ease-in-out;
  }

.icon-will-be-red:hover{
    color: rgb(0, 0, 0);
}

.icon-will-be-blue:hover{
    color: blue;
}

.icon-will-be-green:hover{
    color: green;
}

.text-number{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    line-height: 1.1rem;
    font-size: 0.8rem;
}

.container{
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
}