.container_body{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 0.5rem;
}

.container_body_center{
    max-width: 50vw;
}

.container_body_center > div:nth-child(2){
    border-radius: 10px 10px 0 0;
}

.container_body_center > div:last-child{
    border-radius: 0 0 10px 10px;
    border-bottom: 0;
    margin-bottom: 0.5vw;
}

.container_body_left{
    width: 25vw;
    margin-right: 0.5rem;
}

.recapBox{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    overflow-y: hidden;
}