.container{
    color: black;
}

.notif-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
}

.notif-container > div{
    margin-bottom: 0.5rem;
    border-radius: 5px;
}
