.container_body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid red; */
}

.container_body_center{
    /* max-width: 60vw; */
    max-width: 55rem;
    min-width: 10rem;
    /* flex-grow: 1; */
    margin-top: 1rem;
    /* border: 2px solid yellow */
}

.container_body_center > * {
    /* border: 2px solid brown */
}

.container_body_center > div:first-child{
    border-radius : 10px 10px 0 0;
    /* border: 2px solid yellowgreen */
}

.container_body_center > div:last-child{
    border-radius : 0 0 10px 10px;
    margin-bottom: 0.5rem;
    /* border: 2px solid blue; */
}
