/* .container{
    display: flex;
    flex-direction: row;
    background-color: rgb(16, 16, 16);
    color: white;
}

.switcher{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switcher nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding:0;
    border-bottom: 1px solid rgb(47, 51, 54);;  
}

.switcher nav > div:hover{
    background-color: grey;
    cursor: pointer;
}

.switcher nav > div{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(16, 16, 16);
}

.list-post{
    border-left: 1px solid rgb(47, 51, 54);;
    border-right: 1px solid rgb(47, 51, 54);;
    width: 40rem;
} */

.container_body{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 0.5rem;
}

.container_body_center{
    max-width: 50vw;
}

.container_body_center > div:nth-child(2){
    border-radius: 10px 10px 0 0;
}

.container_body_center > div:last-child{
    border-radius: 0 0 10px 10px;
    border-bottom: 0;
    margin-bottom: 0.5vw;
}

.container_body_left{
    width: 25vw;
    margin-right: 0.5rem;
}

.recapBox{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}