.header-profil-container {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 5px;
}

.header-profil-mid {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  min-height: 4.25rem;
}

.header-profil-top {
  position: relative;
}

.header-profil-top > span {
  position: absolute;
  z-index: 1;
  bottom: 0.5rem;
  right: 0.5rem;
  color: rgb(230, 230, 230);
}

.header-profil-top > img {
  width: 100%;
  border-radius: 5px;
}

.header-profil-user-details {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding-left: 0.5rem;
  justify-content: space-between;
}

.header-profil-user-details-bio {
  flex-grow: 1;
  border-left: 1px dashed rgb(0, 0, 0);
  margin-left: 0.5rem;
  padding-left: 0.25rem;
}

.header-profil-user-details-name {
  max-width: 20%;
  overflow: hidden;
  overflow-wrap: break-word;
  min-width: 6rem;
}

.header-profil-user-pic > img {
  border-radius: 10%;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.header-profil-user-pic {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  position: relative;
}

.header-profil-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-profil-bottom > span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}

.header-profil-bottom > span:hover {
  text-decoration: underline;
}
